.userPreview {
  padding: 35px 0;
  min-height: 200px;

  x-main-info {
    display: block;

    x-title {
      display: block;
      font-size: 32px;
      font-weight: bold;
    }

    x-description {
      display: block;
      color: #757575;
      font-size: 16px;
    }
  }

  x-avatar {
    display: block;
    float: right;
  }

  x-user-actions {
    display: block;
    margin-top: 20px;
  }
}
